<%- include('../partials/header') %>
<h1>Name of sneakers web</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque ipsam quam a ducimus beatae labore at eaque tempore
    architecto quas.</p>

<%- include('../partials/footer') %>